Repository xamarin/xamarin-android, pull requests merged in 2018-09, with the labels that each got.

#2125 Fix AOT build
  build-tools/Xamarin.Android.Tools.BootstrapTasks/Xamarin.Android.Tools.BootstrapTasks/Adb.cs
  build-tools/Xamarin.Android.Tools.BootstrapTasks/Xamarin.Android.Tools.BootstrapTasks/CheckAdbTarget.cs
  build-tools/Xamarin.Android.Tools.BootstrapTasks/Xamarin.Android.Tools.BootstrapTasks/RunInstrumentationTests.cs
  build-tools/Xamarin.Android.Tools.BootstrapTasks/Xamarin.Android.Tools.BootstrapTasks/RunUITests.cs
  build-tools/scripts/BuildEverything.mk
  build-tools/scripts/TestApks.targets
  src/Mono.Android/Test/Mono.Android-Tests.csproj
  src/Mono.Android/Test/Mono.Android-Tests.projitems
  src/Mono.Android/Test/Properties/AndroidManifest.xml
  tests/CodeGen-Binding/Xamarin.Android.JcwGen-Tests/Properties/AndroidManifest.xml
  tests/CodeGen-Binding/Xamarin.Android.JcwGen-Tests/Xamarin.Android.JcwGen-Tests.csproj
  tests/CodeGen-Binding/Xamarin.Android.JcwGen-Tests/Xamarin.Android.JcwGen-Tests.projitems
  tests/locales/Xamarin.Android.Locale-Tests/Properties/AndroidManifest.xml
  tests/locales/Xamarin.Android.Locale-Tests/Xamarin.Android.Locale-Tests.csproj
  tests/locales/Xamarin.Android.Locale-Tests/Xamarin.Android.Locale-Tests.projitems
Labels: full-mono-integration-build

#2171 Update Emulator for 15.9
  Configuration.props
  build-tools/Xamarin.Android.Tools.BootstrapTasks/Xamarin.Android.Tools.BootstrapTasks/Adb.cs
  build-tools/Xamarin.Android.Tools.BootstrapTasks/Xamarin.Android.Tools.BootstrapTasks/CreateAndroidEmulator.cs
  build-tools/android-toolchain/android-toolchain-windows.targets
  build-tools/android-toolchain/android-toolchain.csproj
  build-tools/android-toolchain/android-toolchain.projitems
  build-tools/android-toolchain/android-toolchain.targets
  build-tools/scripts/TestApks.targets
  src/mono-runtimes/mono-runtimes.targets
Labels: use-merge-commit

#2182 [build] Build Xamarin.Android.NUnitLite.dll for API-28
  build-tools/Xamarin.Android.Tools.BootstrapTasks/Xamarin.Android.Tools.BootstrapTasks/RunInstrumentationTests.cs
  build-tools/scripts/BuildEverything.mk
Labels: full-mono-integration-build

#2186 [build] Build Xamarin.Android.NUnitLite.dll for API-28 (#2182)
  build-tools/scripts/BuildEverything.mk
Labels: full-mono-integration-build

#2154 Support DSOs embedded in the .apk
  Xamarin.Android-Tests.sln
  build-tools/scripts/RunTests.targets
  src/Xamarin.Android.Build.Tasks/Tasks/AndroidZipAlign.cs
  src/monodroid/jni/dylib-mono.c
  src/monodroid/jni/dylib-mono.h
  src/monodroid/jni/monodroid-glue.c
  src/monodroid/jni/util.c
  src/monodroid/jni/util.h
  tests/EmbeddedDSOs/EmbeddedDSO-UnitTests/BuildTests.cs
  tests/EmbeddedDSOs/EmbeddedDSO-UnitTests/Config.cs.in
  tests/EmbeddedDSOs/EmbeddedDSO-UnitTests/EmbeddedDSO-UnitTests.csproj
  tests/EmbeddedDSOs/EmbeddedDSO-UnitTests/Properties/AssemblyInfo.cs
  tests/EmbeddedDSOs/EmbeddedDSO-UnitTests/packages.config
  tests/EmbeddedDSOs/EmbeddedDSO-UnitTests/run.sh
  tests/EmbeddedDSOs/EmbeddedDSO/Assets/AboutAssets.txt
  tests/EmbeddedDSOs/EmbeddedDSO/EmbeddedDSO.csproj
  tests/EmbeddedDSOs/EmbeddedDSO/EmbeddedDSO.projitems
  tests/EmbeddedDSOs/EmbeddedDSO/Environment.txt
  tests/EmbeddedDSOs/EmbeddedDSO/MainActivity.cs
  tests/EmbeddedDSOs/EmbeddedDSO/NUnitInstrumentation.cs
  tests/EmbeddedDSOs/EmbeddedDSO/Properties/AndroidManifest.xml
  tests/EmbeddedDSOs/EmbeddedDSO/Properties/AssemblyInfo.cs
  tests/EmbeddedDSOs/EmbeddedDSO/Resources/AboutResources.txt
  tests/EmbeddedDSOs/EmbeddedDSO/Resources/layout/Main.axml
  tests/EmbeddedDSOs/EmbeddedDSO/Resources/mipmap-hdpi/Icon.png
  tests/EmbeddedDSOs/EmbeddedDSO/Resources/mipmap-mdpi/Icon.png
  tests/EmbeddedDSOs/EmbeddedDSO/Resources/mipmap-xhdpi/Icon.png
  tests/EmbeddedDSOs/EmbeddedDSO/Resources/mipmap-xxhdpi/Icon.png
  tests/EmbeddedDSOs/EmbeddedDSO/Resources/mipmap-xxxhdpi/Icon.png
  tests/EmbeddedDSOs/EmbeddedDSO/Resources/values/Strings.xml
  tests/EmbeddedDSOs/EmbeddedDSO/Tests.cs
  tests/RunApkTests.targets
Labels: run-tests-release

#2190 [build] Build Xamarin.Android.NUnitLite.dll for API-10
  build-tools/scripts/BuildEverything.mk
  src/Xamarin.Android.NUnitLite/Gui/Instrumentations/TestSuiteInstrumentation.cs
Labels: full-mono-integration-build

#2162 [linker] move StripEmbeddedLibraries into the linker
  src/Xamarin.Android.Build.Tasks/Linker/MonoDroid.Tuner/Linker.cs
  src/Xamarin.Android.Build.Tasks/Linker/MonoDroid.Tuner/RemoveLibraryResourceZip.cs
  src/Xamarin.Android.Build.Tasks/Linker/MonoDroid.Tuner/StripEmbeddedLibraries.cs
  src/Xamarin.Android.Build.Tasks/Tasks/LinkAssemblies.cs
  src/Xamarin.Android.Build.Tasks/Tasks/StripEmbeddedLibraries.cs
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.Android.Build.Tests/BuildTest.cs
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.Android.Build.Tests/Xamarin.Android.Build.Tests.csproj
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.Build.Tasks.csproj
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.Common.targets
Labels: run-tests-release

#2227 [monodroid] Convert path to utf8 on windows.
  src/monodroid/jni/monodroid-glue.c
Labels: full-mono-integration-build

#2192 Make sure app bundle has soname set
  Xamarin.Android-Tests.sln
  build-tools/scripts/RunTests.targets
  src/Xamarin.Android.Build.Tasks/Tasks/MakeBundleNativeCodeExternal.cs
  tests/CodeGen-MkBundle/Xamarin.Android.MakeBundle-Tests/Xamarin.Android.MakeBundle-Tests.csproj
  tests/CodeGen-MkBundle/Xamarin.Android.MakeBundle-UnitTests/BuildTests.cs
  tests/CodeGen-MkBundle/Xamarin.Android.MakeBundle-UnitTests/Config.cs.in
  tests/CodeGen-MkBundle/Xamarin.Android.MakeBundle-UnitTests/Properties/AssemblyInfo.cs
  tests/CodeGen-MkBundle/Xamarin.Android.MakeBundle-UnitTests/Xamarin.Android.MakeBundle-UnitTests.csproj
  tests/CodeGen-MkBundle/Xamarin.Android.MakeBundle-UnitTests/Xamarin.Android.MakeBundle-UnitTests.targets
  tests/CodeGen-MkBundle/Xamarin.Android.MakeBundle-UnitTests/packages.config
Labels: run-tests-release
