Repository xamarin/xamarin-android, pull requests merged in 2018-10, with the labels that each got.

#2279 [Tests] Make network tests a bit more resilient
  src/Mono.Android/Test/Xamarin.Android.Net/AndroidClientHandlerTests.cs
Labels: Area: Unit Tests, run-tests-release

#2277 Monodroid refactor
  src/monodroid/CMakeLists.txt
  src/monodroid/jni/android-system.cc
  src/monodroid/jni/android-system.h
  src/monodroid/jni/dylib-mono.cc
  src/monodroid/jni/globals.cc
  src/monodroid/jni/globals.h
  src/monodroid/jni/monodroid-glue-internal.h
  src/monodroid/jni/monodroid-glue.cc
  src/monodroid/jni/osbridge.cc
  src/monodroid/jni/osbridge.h
Labels: Area: App Runtime, full-mono-integration-build

#2001 [build] Generate separate .binlog files for tests.
  build-tools/scripts/RunTests.targets
  build-tools/scripts/msbuild.mk
Labels: do-not-merge

#2314 [Build] Gather and store build info for GIT submodules
  build-tools/create-vsix/.gitignore
  build-tools/create-vsix/VSPackage.resx.in
  build-tools/create-vsix/create-vsix.targets
  build-tools/scripts/BuildEverything.mk
  build-tools/scripts/XAVersionInfo.targets
  build-tools/scripts/get-git-branch.sh
  build-tools/xa-prep-tasks/Xamarin.Android.BuildTools.PrepTasks/GitCommitInfo.cs
  build-tools/xa-prep-tasks/xa-prep-tasks.csproj
  src/Xamarin.Android.Build.Tasks/.gitignore
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.Build.Tasks.targets
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.BuildInfo.txt.in
Labels: Area: xamarin-android Build

#2317 Disable ILRepack target on Linux
  src/Xamarin.Android.Build.Tasks/ILRepack.targets
Labels: Area: xamarin-android Build, full-mono-integration-build

#2348 [Xamarin.Android.Build.Tasks] mechanism to skip ConvertResourcesCases
  src/Xamarin.Android.Build.Tasks/Tasks/CollectNonEmptyDirectories.cs
  src/Xamarin.Android.Build.Tasks/Tasks/ConvertResourcesCases.cs
  src/Xamarin.Android.Build.Tasks/Tasks/ResolveLibraryProjectImports.cs
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.Android.Build.Tests/BuildTest.cs
  src/Xamarin.Android.Build.Tasks/Utilities/XDocumentExtensions.cs
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.Build.Tasks.targets
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.Common.targets
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.SkipCases.projitems
Labels: Area: Performance
