Repository xamarin/xamarin-android, pull requests merged in 2018-11, with the labels that each got.

#2366 [mono-2018-10] [build] Download correct mono archive URL
  src/mono-runtimes/ProfileAssemblies.projitems
  src/mono-runtimes/mono-runtimes.targets
  tests/BCL-Tests/Xamarin.Android.Bcl-Tests/NUnitInstrumentation.cs
  tests/BCL-Tests/Xamarin.Android.Bcl-Tests/XUnitInstrumentation.cs
  tests/BCL-Tests/Xamarin.Android.Bcl-Tests/Xamarin.Android.Bcl-Tests.csproj
  tests/BCL-Tests/Xamarin.Android.Bcl-Tests/Xamarin.Android.Bcl-Tests.targets
  tests/TestRunner.Core/TestInstrumentation.cs
  tests/TestRunner.NUnit/NUnitTestInstrumentation.cs
Labels: full-mono-integration-build

#2373 [build-tools] Write the intrumentation timing output again
  build-tools/Xamarin.Android.Tools.BootstrapTasks/Xamarin.Android.Tools.BootstrapTasks/RunInstrumentationTests.cs
  build-tools/Xamarin.Android.Tools.BootstrapTasks/Xamarin.Android.Tools.BootstrapTasks/RunUITests.cs
Labels: run-tests-release

#2405 [Xamarin.ProjectTools] fix LatestTargetFrameworkVersion
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.ProjectTools/Common/Builder.cs
Labels: full-mono-integration-build

#2418 [tests] Emit error when timing input is missing
  build-tools/scripts/TestApks.targets
  build-tools/xa-prep-tasks/Xamarin.Android.BuildTools.PrepTasks/ProcessLogcatTiming.cs
  build-tools/xa-prep-tasks/Xamarin.Android.BuildTools.PrepTasks/ProcessPlotInput.cs
Labels: run-tests-release

#2440 [do-not-merge] use a 5.16 debug build
  Configuration.props
  Makefile
  build-tools/dependencies/dependencies.projitems
Labels: do-not-merge, run-tests-debug

#2469 [build] Do not build obsolete Mono.Android assemblies
  Configuration.props
  Documentation/building/configuration.md
  build-tools/scripts/BuildEverything.mk
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.Android.Build.Tests/BuildTest.cs
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.ProjectTools/Common/Builder.cs
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.Bindings.targets
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.CSharp.targets
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.FSharp.targets
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.VisualBasic.targets
Labels: full-mono-integration-build
