Repository xamarin/xamarin-android, pull requests merged in 2019-04, with the labels that each got.

#2900 Use correct `strip` path when building with mono archives
  src/mono-runtimes/mono-runtimes.projitems
Labels: Area: xamarin-android Build, bug, full-mono-integration-build

#2845 [build] Add support for commercial builds
  .external
  .gitignore
  Documentation/building/unix/instructions.md
  Documentation/building/windows/instructions.md
  Makefile
  build-tools/Xamarin.Android.Tools.BootstrapTasks/Xamarin.Android.Tools.BootstrapTasks.csproj
  build-tools/Xamarin.Android.Tools.BootstrapTasks/Xamarin.Android.Tools.BootstrapTasks/JdkInfo.cs
  build-tools/create-pkg/create-pkg.csproj
  build-tools/create-pkg/create-pkg.targets
  build-tools/create-vsix/create-vsix.targets
  build-tools/installers/create-installers.targets
  build-tools/scripts/BuildEverything.mk
  build-tools/scripts/Packaging.mk
  build-tools/scripts/PrepareWindows.targets
  build-tools/xa-prep-tasks/Xamarin.Android.BuildTools.PrepTasks/CheckoutExternalGitDependency.cs
  build-tools/xa-prep-tasks/Xamarin.Android.BuildTools.PrepTasks/ParseExternalGitDependencies.cs
  build-tools/xa-prep-tasks/external-git-dependencies.targets
  build-tools/xa-prep-tasks/xa-prep-tasks.csproj
Labels: full-mono-integration-build

#2976 [mono-2019-02][Xamarin.Android.BCL_Tests] Copy xunit tests to IntermediateOutputPath
  tests/BCL-Tests/Xamarin.Android.Bcl-Tests/Xamarin.Android.Bcl-Tests.targets
Labels: full-mono-integration-build

#2718 Typename mapping + environment assembly generator
  Makefile
  Xamarin.Android.sln
  build-tools/android-toolchain/android-toolchain.targets
  build-tools/fetch-windows-assemblers.tpnitems
  build-tools/fetch-windows-assemblers/fetch-windows-assemblers.cs
  build-tools/fetch-windows-assemblers/fetch-windows-assemblers.csproj
  build-tools/installers/create-installers.targets
  build-tools/scripts/Packaging.mk
  build-tools/scripts/XABuildConfig.cs.in
  src/Xamarin.Android.Build.Tasks.tpnitems
  src/Xamarin.Android.Build.Tasks/MSBuild/Xamarin/Android/Xamarin.Android.Designer.targets
  src/Xamarin.Android.Build.Tasks/Resources/XamarinAndroidEnvironmentVariables.java
  src/Xamarin.Android.Build.Tasks/Tasks/Aot.cs
  src/Xamarin.Android.Build.Tasks/Tasks/BuildApk.cs
  src/Xamarin.Android.Build.Tasks/Tasks/CompileNativeAssembly.cs
  src/Xamarin.Android.Build.Tasks/Tasks/GenerateJavaStubs.cs
  src/Xamarin.Android.Build.Tasks/Tasks/GeneratePackageManagerJava.cs
  src/Xamarin.Android.Build.Tasks/Tasks/LinkApplicationSharedLibraries.cs
  src/Xamarin.Android.Build.Tasks/Tasks/NdkUtils.cs
  src/Xamarin.Android.Build.Tasks/Tasks/PrepareAbiItems.cs
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.Android.Build.Tests/BuildTest.cs
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.Android.Build.Tests/PackagingTest.cs
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.Android.Build.Tests/Tasks/BundleToolTests.cs
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.Android.Build.Tests/Utilities/EnvironmentHelper.cs
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.Android.Build.Tests/Xamarin.Android.Build.Tests.Shared.projitems
  src/Xamarin.Android.Build.Tasks/Utilities/ARMNativeAssemblerTargetProvider.cs
  src/Xamarin.Android.Build.Tasks/Utilities/ApplicationConfigNativeAssemblyGenerator.cs
  src/Xamarin.Android.Build.Tasks/Utilities/NativeAssemblerTargetProvider.cs
  src/Xamarin.Android.Build.Tasks/Utilities/NativeAssemblyDataStream.cs
  src/Xamarin.Android.Build.Tasks/Utilities/NativeAssemblyGenerator.cs
  src/Xamarin.Android.Build.Tasks/Utilities/TypeMappingNativeAssemblyGenerator.cs
  src/Xamarin.Android.Build.Tasks/Utilities/X86NativeAssemblerTargetProvider.cs
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.Build.Tasks.csproj
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.Build.Tasks.targets
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.Common.targets
  src/java-runtime/java/mono/android/MonoPackageManager.java
  src/monodroid/CMakeLists.txt
  src/monodroid/jni/android-system.cc
  src/monodroid/jni/android-system.h
  src/monodroid/jni/application_dso_stub.cc
  src/monodroid/jni/embedded-assemblies.cc
  src/monodroid/jni/embedded-assemblies.h
  src/monodroid/jni/monodroid-glue.cc
  src/monodroid/jni/util.h
  src/monodroid/jni/xamarin-app.h
  src/monodroid/monodroid.targets
  tests/EmbeddedDSOs/EmbeddedDSO-UnitTests/BuildTests.cs
  tests/EmbeddedDSOs/EmbeddedDSO-UnitTests/EmbeddedDSO-UnitTests.csproj
  tests/EmbeddedDSOs/EmbeddedDSO-UnitTests/run.sh
  tests/EmbeddedDSOs/EmbeddedDSO/EmbeddedDSO.csproj
Labels: full-mono-integration-build

#3000 [tests] Don't rename test cases from RunNUnitDeviceTests
  tests/RunApkTests.targets
Labels: full-mono-integration-build

#3032 [mono-runtimes] exclude a missing pdb file
  src/mono-runtimes/mono-runtimes.targets
Labels: do-not-merge

#3030 [monodroid] Change the libmono-native dllmap target on osx
  src/monodroid/config.xml
Labels: full-mono-integration-build
