Repository xamarin/xamarin-android, pull requests merged in 2019-03, with the labels that each got.

#2774 [build] Use specific ninja binary for mingw cross-builds
  build-tools/mingw-dependencies/mingw-dependencies.projitems
Labels: full-mono-integration-build

#2777 [build] Use specific ninja binary for libzip builds
  src/libzip-windows/libzip-windows.projitems
  src/libzip/libzip.projitems
Labels: full-mono-integration-build

#2792 [mingw] Make sure all 32-bit Windows libraries use static libgcc
  Configuration.props
  build-tools/android-toolchain/android-toolchain.projitems
  build-tools/scripts/mingw-32.cmake.in
  src/mono-runtimes/mono-runtimes.targets
Labels: full-mono-integration-build

#2798 [mono-runtimes] `make` output is of Low importance
  build-tools/automation/build.groovy
  src/mono-runtimes/mono-runtimes.targets
Labels: do-not-merge

#2807 [build] Use system cmake and ninja to build mingw deps and libzip
  build-tools/dependencies/dependencies.projitems
  build-tools/mingw-dependencies/mingw-dependencies.projitems
  build-tools/mingw-dependencies/mingw-dependencies.targets
  src/libzip-windows/libzip-windows.projitems
  src/libzip/libzip.projitems
  src/libzip/libzip.targets
Labels: full-mono-integration-build

#2733 [installers] Share installer payload generation logic
  Xamarin.Android.sln
  build-tools/automation/build.groovy
  build-tools/create-pkg/create-pkg.csproj
  build-tools/create-pkg/create-pkg.targets
  build-tools/create-pkg/distribution.xml.in
  build-tools/create-pkg/scripts/preinstall
  build-tools/create-vsix/create-vsix.csproj
  build-tools/create-vsix/create-vsix.targets
  build-tools/create-vsix/source.extension.vsixmanifest
  build-tools/installers/create-installers.targets
  build-tools/scripts/Packaging.mk
Labels: Area: Installer

#2819 [build] Bump cmake to 3.10 and the NDK to 19b
  Configuration.props
  build-tools/scripts/Ndk.targets
Labels: full-mono-integration-build

#2820 Revert "Revert "[BootstrapTasks] libZipSharp & <Unzip…/> (#2750)" (#2…
  build-tools/Xamarin.Android.Tools.BootstrapTasks/Xamarin.Android.Tools.BootstrapTasks.csproj
  build-tools/Xamarin.Android.Tools.BootstrapTasks/Xamarin.Android.Tools.BootstrapTasks/UnzipDirectoryChildren.cs
  build-tools/android-toolchain/android-toolchain.targets
  build-tools/scripts/libzip-references.projitems
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.ProjectTools/Xamarin.ProjectTools.Darwin.projitems
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.ProjectTools/Xamarin.ProjectTools.Linux.projitems
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.ProjectTools/Xamarin.ProjectTools.csproj
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.Build.Tasks.targets
Labels: full-mono-integration-build

#2829 Add first Android Q preview API build.
  Configuration.props
  Documentation/workflow/HowToAddNewApiLevel.md
  build-tools/android-toolchain/android-toolchain.projitems
  build-tools/api-xml-adjuster/Makefile
  build-tools/scripts/BuildEverything.mk
  src/Mono.Android/Java.Lang/StringBuffer.cs
  src/Mono.Android/Java.Lang/StringBuilder.cs
  src/Mono.Android/Mono.Android.projitems
  src/Mono.Android/Profiles/api-29.params.txt
  src/Mono.Android/metadata
Labels: full-mono-integration-build

#2823 [Xamarin.Android.Build.Tasks] Add custom meta data to @(ReferencePath)
  src/Xamarin.Android.Build.Tasks/Tasks/AppendCustomMetadataToItemGroup.cs
  src/Xamarin.Android.Build.Tasks/Tasks/ResolveLibraryProjectImports.cs
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.Build.Tasks.csproj
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.Common.targets
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.SkipCases.projitems
Labels: do-not-merge

#2860 Bump NDK to r19c
  build-tools/scripts/Ndk.targets
Labels: full-mono-integration-build

#2863 [monodroid] fix path to macOS libmonosgen-2.0.dylib
  src/monodroid/jni/android-system.h
Labels: full-mono-integration-build
