Repository xamarin/xamarin-android, pull requests merged in 2019-02, with the labels that each got.

#2678 [Xamarin.Android.Build.Tasks] #deletebinobj and ResolveLibraryProjectImports
  src/Xamarin.Android.Build.Tasks/Tasks/ResolveLibraryProjectImports.cs
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.Android.Build.Tests/BuildTest.cs
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.Android.Build.Tests/Utilities/FilesTests.cs
  src/Xamarin.Android.Build.Tasks/Tests/Xamarin.Android.Build.Tests/Xamarin.Android.Build.Tests.Shared.projitems
  src/Xamarin.Android.Build.Tasks/Utilities/Files.cs
Labels: do-not-merge

#2704 [mono-2018-10] Bundle libmono-native
  src/mono-runtimes/mono-runtimes.targets
Labels: full-mono-integration-build

#2719 [mono-2018-10] Include 'libmono-native.so' in .apk
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.Common.targets
Labels: full-mono-integration-build

#2724 [runtime] Optionally preload all the assemblies from the apk
  Documentation/guides/BuildProcess.md
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.Common.targets
  src/monodroid/jni/android-system.cc
  src/monodroid/jni/android-system.h
  src/monodroid/jni/monodroid-glue.cc
  tests/Xamarin.Forms-Performance-Integration/App.xaml.cs
  tests/Xamarin.Forms-Performance-Integration/Global.css
  tests/Xamarin.Forms-Performance-Integration/Views/MainPage.cs
  tests/Xamarin.Forms-Performance-Integration/Views/MainPage.xaml
  tests/Xamarin.Forms-Performance-Integration/Views/MainPage.xaml.cs
Labels: full-mono-integration-build

#2715 [tests] Make the Mono.Android_TestsMultiDex run
  tests/Runtime-MultiDex/Mono.Android-TestsMultiDex.projitems
Labels: do-not-merge

#2752 Try to fix the build
  src/libzip-windows/libzip-windows.csproj
Labels: do-not-merge, full-mono-integration-build

#2759 Don't strip some Windows DLLs
  src/mono-runtimes/mono-runtimes.projitems
  src/mono-runtimes/mono-runtimes.targets
Labels: full-mono-integration-build

#2758 [build] Drop requirement for MXE
  Configuration.props
  Makefile
  Xamarin.Android.sln
  build-tools/android-toolchain/android-toolchain.targets
  build-tools/create-vsix/VSPackage.resx.in
  build-tools/create-vsix/create-vsix.targets
  build-tools/dependencies/dependencies.projitems
  build-tools/linux-mingw-dependencies/linux-mingw-dependencies.projitems
  build-tools/linux-mingw-dependencies/linux-mingw-dependencies.targets
  build-tools/linux-mingw-dependencies/mingw-linux-32.cmake
  build-tools/linux-mingw-dependencies/mingw-linux-64.cmake
  build-tools/mingw-dependencies/mingw-dependencies.csproj
  build-tools/mingw-dependencies/mingw-dependencies.projitems
  build-tools/mingw-dependencies/mingw-dependencies.props
  build-tools/mingw-dependencies/mingw-dependencies.targets
  build-tools/scripts/PrepareImageDependencies.targets
  build-tools/scripts/RequiredPrograms.targets
  build-tools/scripts/XAVersionInfo.targets
  build-tools/scripts/generate-os-info
  build-tools/scripts/mingw-32.cmake.in
  build-tools/scripts/mingw-64.cmake.in
  build-tools/scripts/mingw-linux-32.cmake
  build-tools/scripts/prepare-image-dependencies.sh.in
  build-tools/xa-prep-tasks/Xamarin.Android.BuildTools.PrepTasks/PrepareInstall.cs
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.Build.Tasks.targets
  src/Xamarin.Android.Build.Tasks/Xamarin.Android.BuildInfo.txt.in
  src/libzip-windows/libzip-windows.csproj
  src/libzip-windows/libzip-windows.projitems
  src/libzip/libzip.projitems
  src/libzip/libzip.targets
  src/mono-runtimes/mono-runtimes.targets
  src/monodroid/CMakeLists.txt
  src/monodroid/monodroid.csproj
  src/monodroid/monodroid.props
  src/monodroid/monodroid.targets
  src/monodroid/mxe-64.cmake.in
Labels: full-mono-integration-build
